:root {
    /* --navbar-height: 52px; */
}

body{
    background-color: black;
}

/* FONT'S FAMILY's */

.gabarito-font{
    font-family: "Gabarito", sans-serif;
    color: rgb(240, 240, 240);
}

/* NAVBAR DESIGN */

.nav-text{
    font-size: 22px;
}
.header-container{
    background-color: rgba(16, 15, 15, 0.738);
}


/* SECTION HOME */

.section-home{
    background-image: url("../images/fondo-dj.jpg");
    background-size: 1720px 920px;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position:unset
}